---
import { Header } from "@components/header/Header";
import Footer from "@components/footer/Footer.astro";
import "@styles/global.scss";
import AboutLayout from "@layouts/about/AboutLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hector Matus Portfolio</title>
  </head>
  <body>
    <Header client:only />
    <AboutLayout />
    <Footer />
  </body>
</html>
