@use "../../../styles/theme/main.scss" as main;
.drawer-container {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 100vh;
  position: fixed;
  box-shadow: 5px 0px 18px rgb(0, 0, 0, 0);
  background-color: main.$primary-background;
  color: main.$primary-text;
}

.open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.close {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}