@use "../../../styles/theme/main.scss" as main;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
}

.drawer {
  display: flex;
  justify-content: center;
  width: 100%;
    height: 100%;
  position: fixed;
  box-shadow: 5px 0px 18px rgb(0, 0, 0, 0);
  background-color: main.$primary-background;
  color: main.$primary-text;
}

.open {
  display: flex;
    opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.close {
  display: hidden;
    opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}