---
import styles from "./HeroLayout.module.scss";
import {
  ContactSection,
  Divider,
  ProjectsSection,
  FormSection,
} from "../../components";
import heroData from "@data/hero-data.json";
const { title, description, projectsList } = heroData;
---

<div class={styles.container}>
  <div class={styles["hero-section-container"]}>
    <div class={styles["hero-information"]}>
      <h1>{title}</h1>
      <p class={styles["hero-description"]}>
        {description}
      </p>
      <ContactSection client:load />
    </div>
    <div class={styles["image"]}>
      <img src="/images/profile/profile-1.png" alt="Hector Matus" />
    </div>
  </div>
  <Divider />
  <div class={styles["projects-section-container"]}>
    <ProjectsSection projectsList={projectsList} />
  </div>
  <Divider />
  <div class={styles["form-section-container"]}>
    <FormSection client:load />
  </div>
</div>
