@use "../../styles/theme/main.scss" as main;

.container {
  width: 100%;
  margin-top: 100px;
}

.projects-section-container {
  margin: 12px;
}

.form-section-container {
  padding: 0 18px;
  margin-top: 64px;

  @media screen and (min-width: 1024px) {
    padding: 0 64px 32px 64px;
  }
}
