---
import styles from "./HeroLayout.module.scss";
import {
  Divider,
  ProjectsSection,
  FormSection,
  HeroSection,
  AboutMeSection,
  CapabilitiesSection,
  ExperienceSection,
} from "../../components";
import {
  getProjectsWithTranslations,
  getExperienceWithTranslations,
} from "@data/i18n-data";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const projectsList = getProjectsWithTranslations(lang);
const experienceList = getExperienceWithTranslations(lang);
---

<main id="main-content" class={styles.container}>
  <HeroSection />
  <AboutMeSection />
  <Divider />
  <div class={styles["projects-section-container"]}>
    <ProjectsSection projectsList={projectsList} />
  </div>
  <Divider />
  <CapabilitiesSection />
  <Divider />
  <ExperienceSection experienceList={experienceList} />
  <Divider />
  <div id="form-section" class={styles["form-section-container"]}>
    <FormSection client:load currentLang={lang} />
  </div>
</main>
