---
import HeroLayout from "../layouts/hero/HeroLayout.astro";
import { Header } from "../components";
import "@styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hector Matus Portfolio</title>
  </head>
  <body>
    <Header client:only />
    <HeroLayout />
  </body>
</html>
