@use "../../../styles/theme/main.scss" as main;
.custom-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: clamp(163px, 175px, 187px);
  height: clamp(48px, 51px, 54px);
  border-radius: 100px;
  background-color: main.$secondary;
  color: main.$secondary-text;
  :hover {
    cursor: pointer;
  }
}
