---
import { TechStackCarousel } from "@components/tech-stack-carousel";
import styles from "./CapabilitiesSection.module.scss";
import { useTranslations } from "../../../i18n/utils";
import { CAPABILITIES_I18N_KEYS } from "./CapabilitiesSection.const";

const lang = Astro.locals.lang;
const t = useTranslations(lang);
---

<section class={styles.container} data-reveal>
  <div class="section-label">02 — Capabilities</div>
  <h2>{t(CAPABILITIES_I18N_KEYS.TITLE).toUpperCase()}</h2>
  <TechStackCarousel client:visible />
</section>
