---
import { TechStackCarousel } from "@components/tech-stack-carousel";
import styles from "./CapabilitiesSection.module.scss";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class={styles.container} data-reveal>
  <div class="section-label">02 — Capabilities</div>
  <h2>{t("capabilities.title").toUpperCase()}</h2>
  <TechStackCarousel client:visible />
</section>
