---
import styles from "./Footer.module.scss";
---

<footer class={styles.footer}>
  <div class={styles["footer-logo"]}>HM<span>.</span></div>
  <p class={styles["footer-info"]}>© 2025 Hector Matus · Built with Astro</p>
</footer>
