@use "../../../styles/theme/main.scss" as main;
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: clamp(163px, 175px, 187px);
  height: clamp(48px, 51px, 54px);
  border-radius: 100px;
  background-color: main.$secondary;
  color: main.$secondary-text;
  :hover {
    cursor: pointer;
  }
}
.button .label {
  margin-right: 8px;
  color: main.$secondary-text;
}

.contact-icon {
  color: main.$secondary-text;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  fill: main.$secondary;
  background-color: main.$primary-background;
}
