$primary-background: #000000;
$secondary-background: #1A1A1A;
$primary-text: #FFFFFF;
$primary-light-text: #C7C7C7;
$secondary-text: #0A0A0A;
$secondary: #D3E97A;
$light-gray: #C7C7C7;
$border: #484848;
$error: #d90429;