---
import type { ProjectI } from "src/types/project";
import { Project } from "./components";
import styles from "./ProjectsSection.module.scss";
import projectsData from "@data/projects.json";
---

<section class={styles["projects-section-container"]} id="projects">
  <h2>Featured Projects</h2>
  <p>
    Here are some of the selected projects that showcase my passion for
    front-end development.
  </p>
  <div class={styles["projects-list-container"]}>
    {
      projectsData.projectsList.map((project) => (
        <Project project={project as unknown as ProjectI} />
      ))
    }
  </div>
</section>
