---
import Analytics from "@vercel/analytics/astro";
import "@styles/global.scss";
import { Header, Footer } from "../../components";
export type Props = {
  metaDescription: string;
  title: string;
};
const { metaDescription, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <Header client:only />
    <slot />
    <Footer />
    <Analytics />
  </body>
</html>
